<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<form id="sign-up-form">
    {% csrf_token %}
    <h1>sign up</h1>
    <label for="username">username</label>
    <input type="text" name="username" placeholder="username">
    <label for="password">password</label>
    <input type="password" name="password" placeholder="password">
    <button type="submit">sign up</button>
</form>
<h2>have an account? byeeee -> <a href="/login">login</a></h2>
<script>
    const form = document.getElementById('sign-up-form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);
        await fetch('/auth/sign-up/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) {
                window.location.href = '/';
            } else {
                res.json().then(data => console.log(data)).catch(err => console.error("JSON parse error:", err));

            }
        })
    });

</script>
</body>
</html>